@model IEnumerable<ROTM.attendance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Replied_Going)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actual_Attendance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.Employee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.training_course_instance.Training_Course_Instance_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Replied_Going)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actual_Attendance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.Employee_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.training_course_instance.Training_Course_Instance_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
