@model ROTM.training_course

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Training Course</h4>
    <p class="text-danger">@ViewBag.StatusMessage</p>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Training_Course_Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <a href="#" data-toggle="tooltip" title="Enter the training course name">
                @Html.EditorFor(model => model.Training_Course_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Training_Course_Name, "", new { @class = "text-danger" })
            </a>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Training_Course_Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <a href="#" data-toggle="tooltip" title="Enter a description for the above mentioned training course">
                @Html.EditorFor(model => model.Training_Course_Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Training_Course_Description, "", new { @class = "text-danger" })
            </a>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Employee_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <a href="#" data-toggle="tooltip" title="Selece the employee name">
                @Html.DropDownList("Employee_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Employee_ID, "", new { @class = "text-danger" })
            </a>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Training_Course_Type_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <a href="#" data-toggle="tooltip" title="Select the new training course type">
                @Html.DropDownList("Training_Course_Type_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Training_Course_Type_ID, "", new { @class = "text-danger" })
            </a>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="#" data-toggle="tooltip" title="Create new Training Course">
                <input type="submit" value="Create" class="btn btn-default" />
            </a>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
