@model ROTM.training_course

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<h4 class="text-danger">@ViewBag.Error</h4>
<div>
    <h4>Training Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Training_Course_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Training_Course_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Training_Course_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Training_Course_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Employee_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.training_course_type.Course_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.training_course_type.Course_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
