@model ROTM.training_course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Training Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Training_Course_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Training_Course_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Training_Course_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Training_Course_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Employee_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.training_course_type.Course_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.training_course_type.Course_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Training_Course_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
