@model ROTM.audit_trail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>audit_trail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trail_DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trail_DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trail_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trail_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted_Record)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted_Record)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Employee_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
