@model IEnumerable<ROTM.audit_trail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search: <input type="text" name="SearchString" placeholder="E.g. Harry" value="@ViewData["currentFilter"]" />
        </p>
    </div>
    <div>
        <p class="text-warning">
            The date will be defaulted to todays date.
        </p>
        <p>
            From Date: <input type="text" name="fromDate" value="@ViewData["fromDate"]" />
            To Date: <input type="text" name="toDate" value="@ViewData["toDate"]" /> 
            <input type="submit" value="Search" class="btn btn-default" /> 
            @*@Html.ActionLink("Show Todays Training Courses", "Index", "training_course_instance")*@
        </p>
    </div>
</form>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Trail_DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trail_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted_Record)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.Employee_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Trail_DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trail_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted_Record)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.Employee_Name)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Audit_Trail_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Audit_Trail_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Audit_Trail_ID })
        </td>*@
    </tr>
}

</table>
