@model ROTM.task

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tasks</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Task_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Task_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <a href="#" data-toggle="tooltip" title="Enter the new task name">
                    @Html.EditorFor(model => model.Task_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Task_Name, "", new { @class = "text-danger" })
                </a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Task_Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <a href="#" data-toggle="tooltip" title="Enter a description for the above mentioned task">
                    @Html.EditorFor(model => model.Task_Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Task_Description, "", new { @class = "text-danger" })
                </a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="#" data-toggle="tooltip" title="Save the new "><input type="submit" value="Save" class="btn btn-default" /></a>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
