@model IEnumerable<ROTM.instructor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search: <input type="text" name="SearchString" placeholder="E.g. Harry" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            @Html.ActionLink("Show Full List", "Index", "Instructors")
        </p>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Instructor_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor_Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor_Cellphone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.Employee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender.Gender1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title.Title1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instructor_type.Instructor_Type_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor_Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor_Cellphone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.Employee_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender.Gender1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title.Title1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instructor_type.Instructor_Type_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Instructor_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Instructor_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Instructor_ID })
        </td>
    </tr>
}

</table>
