@model IEnumerable<ROTM.employee_milestone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reason_Milestone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Milestone_Progress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.Employee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.milestone.Milestone_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Reason_Milestone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Milestone_Progress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.Employee_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.milestone.Milestone_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Goto Tasks Milestone", "Index", "task_milestone")
</div>