@model ROTM.client_type

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete the client type?</h3>
<h4 class="text-danger">@ViewBag.Error</h4>
<div>
    <h4>Client Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client_Type_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Type_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Type_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Type_Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <a href="#" data-toggle="tooltip" title="Delete the
           client type">
            <input type="submit" value="Delete" class="btn btn-default" />
        </a> |
        @Html.ActionLink("Back to List", "Index")
    </div>
    }
</div>
