@model ROTM.instructor_type

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instructor Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Instructor_Type_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor_Type_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instrutor_Type_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instrutor_Type_Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Instructor_Type_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
