@model ROTM.employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Home_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Home_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Cellphone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Cellphone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_RSA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_RSA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encrypted_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encrypted_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address.Street_Name)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.employee_type.Type_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_type.Type_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender.Gender1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender.Gender1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title.Title1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title.Title1)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.address.Street_Name)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.address.Suburb)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.address.City)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.address.Province)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.address.Country)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
