@model ROTM.employee_mailinglist

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "employee_mailinglist", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Internal notification</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Employee_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <a href="#" data-toggle="tooltip" title="Please select the employee name">
                @Html.DropDownList("Employee_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Employee_ID, "", new { @class = "text-danger" })
            </a>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mailing_List_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <a href="#" data-toggle="tooltip" title="Please select the mailing list">
                @Html.DropDownList("Mailing_List_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Mailing_List_ID, "", new { @class = "text-danger" })
            </a>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Attachment:", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="fileUploader" type="file" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <a href="#" data-toggle="tooltip" title="Please describe the internal notification">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </a>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="#" data-toggle="tooltip" title="Send the internal notification">
                <input type="submit" value="Send Internal Notification" class="btn btn-default" />
            </a>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
