@model ROTM.access_level

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete the Access Level?</h3>
<h4 class="text-danger">@ViewBag.Error</h4>
<div>
    <h4>Access Level</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Access_Level_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Access_Level_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Access_Level_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Access_Level_Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <a href="#" data-toggle="tooltip" title="Delete the access level">
            <input type="submit" value="Delete" class="btn btn-default" /></a> |
            @Html.ActionLink("Back to List", "Index")
    </div>
    }
</div>
